@media (max-width : 670px){
    .contents-item {
        width: 95%;
    }
    .image-size {
        width: 100%;
        
    }
    .rek{
        font-size: 20px;
    }
    footer{
        text-align: center;
    }

    footer p {
        font-size: 6px;
        color: antiquewhite;
    }

    .header-right{
        display:  none
    }


    
}


@media (max-width : 1000px){
    .login {
        padding: 0 70px;
    }
    span {
        display:none;}
}

